.container {
  margin-top: 30px;
}

.edit-item-form {
  display: none;
}

#show-new-item-form {
  font-size: 1.2em;
  display: block;
  width: 100%;
  height: 36px;
  margin: auto auto;
}

#new-todo-form {
  display: none;
}

#title {
  text-align: center;
  font-size: 4.6em;
}